# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment folders
venv/
env/

# Ignore environment variable and secret files
.env

# VS Code settings (optional)
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini